@charset "utf-8";

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,ol {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: url(../images/main/cursor.png)0 0, auto;
}
html{
    /* Prevent font scaling in landscape */
    /* 글자 크기 유지*/

    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none; /*Firefox*/

    -ms-text-size-adjust: none;  /*Ie*/

    -o-text-size-adjust: none; /*old versions of Opera*/
}
body{
    font-family: 'SUIT Variable', sans-serif;
    font-size: 18px;
    /* p tag기준 */
    line-height: 25px;
    color: #363636;
    
}
#wrap{
    min-height: 1360px;
}
#header_banner{
    height: 50px;
    background-color: #5F967D;
    color: #FFF6DF;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#header_banner>p{
    
    font-size: 15px;
    font-weight: 800;
    white-space: nowrap;
     animation: textflow 35s linear infinite;
}
@keyframes textflow{
    from{transform: translateX(0);}
    to{transform: translateX(-50%);}
    
}
/* header_banner(text flow) fin */
#header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
#header_wrap{
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header_wrap>.gnb{
    width: 542px;
    display: flex;
    justify-content: space-between;
    margin-left: 226px;
    font-size: 20px;
    font-weight: 900;
    color: #B66F63;
}

#header_wrap>.util{
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-left: 70px;
    margin-top: 5px;
}
.join_box{
    width: 130px;
    height: 50px;
    background-color: #B66F63;
    border-radius: 30px;
    text-align: center;
    margin-left: 59px;
    
}
.join_box>p{
    display: block;
    font-size: 16px;
    color: #FFF6DF;
    padding-top: 13px;
    font-weight: 700;
}
/* header fin */
#banner{
    height: 600px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
#banner>video{
    width: 1920px;
    position: absolute;
    left: 50%;
    top: -300px;
    transform: translateX(-50%);
}
#banner>.banner_text{
    width: 1320px;
    position: absolute;
    top: 214px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
}
.banner_text>h2{
    line-height: 35px;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 40px;
}
.banner_text>p{
    font-size: 16px;
    font-weight: 500;
}
#shop{
    height: 200px;
    background-color: #FFF6DF;
    
}
.shop_wrap{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.shop_wrap>img{
    padding-top: 35px;
}

.shop_box{
    padding-top: 56px;
}
.shop_box>h3{
    font-size: 30px;
    font-weight: 800;
    color: #5F967D;
}
.now_box{
    width: 140px;
    height: 50px;
    background-color: #5F967D;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 114px;
    left: 600px;
}
.shop_box>.now_box>p{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #FFF6DF;
    padding: 13px;
}
/* shop fin */
#best{
    height: 600px;
    padding: 90px 0px;
    background-color: #F4E8E6;
    box-sizing: border-box;
   
}
#best>h3{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #B66F63;
    padding-bottom: 50px;
}

.slide_wrap{
    width: 1320px;
    margin: 0 auto;
    padding: 0px 30px;
    
}
.slide{
    display: flex;
    justify-content: center;
}

.slide li{
    width: 230px;
    height: 250px;
    margin: 0 10px;
    transition: all 0.5s; 
    transform: translateX(-10px); 
    
}
.slide li img{
    width: 100%;
}

.info1,.info2,.info3,.info4,.info5{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: all 0.5s; 
    height: 130px;
}
.slide li ul.info1 li:hover,
.slide li ul.info2 li:hover,
.slide li ul.info3 li:hover,
.slide li ul.info4 li:hover,
.slide li ul.info5 li:hover{
    transform: translateX(0px); 
}
span{
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    color: #707071;
}
b{
    color: #B66F63;
    font-weight: 800;
    font-size: 20px;
}
/* best fin */
#product{
    height: 720px;
    overflow: hidden;
    
}
.product_wrap{
    width: 1320px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    
}
.dog_img{
    width: 1320px;
    height: 700px;
    position: absolute;
    top: -20px;
    left: 320px;
    
}
.product_wrap>img{
    position: absolute;
    top: -200px;
    right: 0;
    animation: rotate_logo 25s linear infinite ;
    z-index: 9;
}
@keyframes rotate_logo{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.product_text{
    padding-top: 90px;
}
.title{
    font-size: 30px;
    font-weight: 800;
}
.text_1{
    padding-top: 30px;
}
.text_2{
    padding-top: 30px;
}

.product_click{
    display: flex;
    position: absolute;
    top: 520px;
    left: 0;
    
}
.product_click li{
    display: block;
    background-color: #5F967D;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    margin-right: 253.5px;
    text-align: center;
}
.product_click li a{
    display: block;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 800;
    color: #FFF6DF;
}
/* product fin */
#story{
    height: 600px;
    background: url(../images/about/about_happaw_bg.jpg) no-repeat center;
}
.story_wrap{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}
.story_wrap h3{
    font-size: 30px;
    font-weight: 800;
    padding-top: 90px;
}
.story_wrap h4{
    padding-top: 70px;
    font-size: 40px;
    font-weight: 700;
}
.story_wrap p{
    padding-top: 140px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}
.more{
    width: 140px;
    height: 50px;
    margin: 0 auto;
    background-color: #B66F63;
    border-radius: 30px;
    color: #FFF;
}
.more a{
    display: block;
    font-weight: 800;
    padding-top: 12px;
}
/* story fin */
#partners{
    height: 550px;
    overflow: hidden;
}



.partners_logo li{
    width: 100%;
    height: 250px;
    transform: translateX(-1600px);
    /* 초기 위치 설정 */
    transition: transform 3s ease-in-out;
    /* transition 사용 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .animate 클래스가 추가되면 transform 속성 변경 */
.partners_logo.animate li {
    transform: translateX(0);
}




.partners_wrap{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    
}
.partners_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.partners_wrap h2{
    padding-top: 90px;
    color: #B66F63;
    font-size: 30px;
    font-weight:800;
}
.partners_wrap p{
    padding: 40px 0px;
}
/* partners fin */
#Production{
    height: 750px;
    box-sizing: border-box;
    background-color: #F3F0EB;
    overflow: hidden;
}

.Production_wrap{
    margin: 0 auto;
    text-align: center;
    position: relative;
    
}
.Production_wrap h2{
    padding-bottom: 50px;
    padding-top: 90px;
    font-size: 30px;
    font-weight: 800;
    color: #5F967D;
    
}
.our_wrap{
    display: flex;
    position:absolute;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
}
.farm{
    width: 958px;
    height: 500px;
    background: url(../images/about/our_farm.jpg) no-repeat center;
    color: #FFF;

}
.factory{
    width: 958px;
    height: 500px;
    background: url(../images/about/our_factory.jpg) no-repeat center;
    color: #FFF;
}
.text_production{
    padding: 160px 0px;
}
.text_production h3{
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 800;
}
.text_production p{
    font-size: 16px;
    font-weight: 500;
}
/* production fin */
#value{
    height: 600px;
    overflow: hidden;
}
.value_wrap{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    
}


.value_logo{
    width: 100%;
    height: 300px;
    transform: translateX(1200px);
    /* 초기 위치 설정 */
    transition: transform 2s ease-in-out;
    /* transition 사용 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .animate 클래스가 추가되면 transform 속성 변경 */
.value_logo.animate {
    transform: translateX(0);
}



.value_wrap h2{
    padding-top: 90px;
    padding-bottom: 30px;
    color: #5F967D;
    font-size: 30px;
    font-weight: 800;
}
.value_logo{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
.value_logo li{
    padding-top: 30px;
}
.value_logo h5{
    font-size: 20px;
    font-weight: 600;
}
.value_logo p{
    font-size: 18px;
    font-weight: 300;
    
}
/* value fin */
#review_wrap{
    height: 1150px;
    background-color: #F4E8E6;
    position: relative;
    overflow: hidden;
}
.review{
    height: 1000px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    
}
.review h1{
    font-size: 30px;
    font-weight: 800;
    color: #B66F63;
    padding-top: 90px;
    padding-bottom: 40px;
}


/* review_swiper */
html,
body {
  position: relative;
  height: 100%;
}

.review_swiper{
    width: 1920px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);

}


.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  font-size: 18px;
  background: #FFF6DF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.swiper-slide img {
  display: block;
  width: 280px;
  height: 190px;
  padding: 35px 35px 35px 35px;
}
.review_product{
    width: 280px;
    height: 23px;
    margin-left: 35px;
    /* background-color: #ffeae6; */
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #B66F63;
    text-align: start;
    overflow: hidden;
}
.review_text{
    width: 280px;
    height: 180px;
    margin-left: 35px;
    padding-top: 15px;
    /* background-color: #5F967D; */
    border-top: 1px dashed #363636;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
}
.review_text .flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 16px;
    color: #B66F63;
}

.swiper-pagination-bullet{
    display: none !important;
}

.review_position{
    position: absolute;
    left: 50%;
    top: 700px;
    transform: translateX(-50%);
    
}
/* review fin */
#footer_wrap{
    height: 350px;
    width: 100%;
    background: url(../images/footer/footer_bg.png)no-repeat center;
    position: absolute;
    top: 814px;
    left: 50%;
    transform: translateX(-50%);
}
.footer{
    width: 1320px;
    margin: 0 auto;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 190px;
}
.footer_flex .logo{
    margin-bottom: 40px;
    
}

.info_nav{
    display: flex;
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: 800;
    
}
.info_nav li{
    margin-right: 25px;
    
}
.footer_sns{
    display: flex;
    padding-top: 22px;
    
}
.footer_sns li{
    margin-left: 10px;
}
.footer_text{
    color: #B66F63;
    font-weight: 600;
    font-size: 14px;
}
/* footer fin */





